img#temperatureImage {

    margin-left: 20px;
    margin-top: 25px;

}

img#windImage {

    margin-left: 20px;
    margin-top: 25px;

}

sup#warning {

    color: red;
}

body {

    background-color: azure;
    color: navy;

}